.header {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 20px 20px 15px 20px;
  max-width: unset !important;
  box-shadow: 0 0 5px 0 #276558;
  background-color: #40bca3;

  &__title {
    display: inline !important;
    font-weight: bold !important;
    font-size: 20px !important;
    color: #fff;
    text-align: center;
  }
  &__home-btn {
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    color: white !important;
  }
}
